<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>关于规范全校行文格式的通知</string>
		<key>time</key>
		<string>2015-06-29</string>
		<key>url</key>
		<string>http://news.ccut.edu.cn/article.php?/4728.html</string>
	</dict>
	<dict>
		<key>title</key>
		<string>关于中秋、国庆期间进一步落实中央
“八项规定”精神、坚决纠正“四风”的通知</string>
		<key>time</key>
		<string>2015-09-24</string>
		<key>url</key>
		<string>http://news.ccut.edu.cn/article.php?/4740/cgi-bin/asp.jsp</string>
	</dict>
	<dict>
		<key>title</key>
		<string>关于林园校区供热并网的通知</string>
		<key>time</key>
		<string>2015-09-16</string>
		<key>url</key>
		<string>http://news.ccut.edu.cn/article.php?/4738/cgi-bin/asp.jsp</string>
	</dict>
	<dict>
		<key>title</key>
		<string>关于2015年中秋节、国庆节放假的通知</string>
		<key>time</key>
		<string>2015-09-14 </string>
		<key>url</key>
		<string>http://news.ccut.edu.cn/article.php?/4737/cgi-bin/asp.jsp</string>
	</dict>
	<dict>
		<key>title</key>
		<string>关于做好秋季爱国卫生运动的通知</string>
		<key>time</key>
		<string>2015-09-11 </string>
		<key>url</key>
		<string>http://news.ccut.edu.cn/article.php?/4736/cgi-bin/asp.jsp</string>
	</dict>
	<dict>
		<key>title</key>
		<string>关于收看“吉林好人·最美教师”发布仪式的通知</string>
		<key>time</key>
		<string>2015-09-09 </string>
		<key>url</key>
		<string>http://news.ccut.edu.cn/article.php?/4735/cgi-bin/asp.jsp</string>
	</dict>
	<dict>
		<key>title</key>
		<string>关于对《严禁教师违规收受学生及家长    礼品礼金等行为的规定》专项巡视的通知</string>
		<key>time</key>
		<string>2015-09-09</string>
		<key>url</key>
		<string>http://news.ccut.edu.cn/article.php?/4734/cgi-bin/asp.jsp</string>
	</dict>
	<dict>
		<key>title</key>
		<string>关于2015年教职工暑期健康疗养工作暂缓的通知</string>
		<key>time</key>
		<string>2015-07-20</string>
		<key>url</key>
		<string>http://news.ccut.edu.cn/article.php?/4733/cgi-bin/asp.jsp</string>
	</dict>
	<dict>
		<key>title</key>
		<string>关于长春工业大学工会委员会拟申报全国模范职工之家的公示</string>
		<key>time</key>
		<string>2015-07-16</string>
		<key>url</key>
		<string>http://news.ccut.edu.cn/article.php?/4732/cgi-bin/asp.jsp</string>
	</dict>
	<dict>
		<key>title</key>
		<string>关于做好暑假期间校园安全工作的通知</string>
		<key>time</key>
		<string>2015-07-15</string>
		<key>url</key>
		<string>http://news.ccut.edu.cn/article.php?/4731/cgi-bin/asp.jsp</string>
	</dict>
</array>
</plist>
